$azul_claro: #01B6E3;
$azul_oscuro: #033D5E;

body { 
	background: white !important; 

	header {
		background: $azul_oscuro !important;	
	}

	#main {
		.l-busqueda {
			padding-top: 20px;
			padding-bottom: 20px;
	
			.region-busqueda {
				text-align: center;
			}
		}
		
		.l-convocatorias {
			.col-convocatoria {
				background-clip: content-box !important;
				background: $azul_claro;
				:hover {
					background: $azul_oscuro;
				}
				a {
					color: white;
					text-align: center;
					text-decoration: none;
					width: 100%;
					display: block;
				}
			}
		}	
	}

	footer { 
		background: $azul_oscuro !important;
	}
}
