$azul_claro: #01B6E3;
$azul_oscuro: #033D5E;
$gris_claro: #b3b3b3;

.container-header {
	background: $azul_oscuro !important;
}

.container-home {
	.row-buscador {
		padding-top: 20px;
		padding-bottom: 100px;
	}

	.col-buscador {
		text-align: center;
	}

	.row-noticias {
		padding-top: 30px;
		padding-bottom: 30px; 
		.titulo-noticias {
			color: $azul_oscuro;
			text-align: center;
			font-weight: bold;
		}

		.noticia-categoria {
			color: $gris_claro;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 15px;
			text-align: left;
		}

		.noticia-titulo {
			color: $azul_oscuro;
			font-weight: light;
		}

		.ver-noticias {
			font-weight: bold;
			color: $azul_oscuro;
			text-decoration: none;
			text-align: right; 

			:hover {
				text-decoration: underline;
			}
		}
		
		p {
			padding: 0;
			margin: 0;
		}
	}
	}

