/**
 * Tabs.
 */
.is-collapse-enabled .tabs,
.is-horizontal .tabs {
  position: relative;
}
.is-collapse-enabled .tabs:before,
.is-horizontal .tabs:before {
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: 1px;
  content: "";
  background-color: #a6a6a6;
}

/* Span the full width of the viewport */
.content-header .is-horizontal .tabs:before,
.content-header .is-collapse-enabled .tabs:before {
  right: -2.5em;
  left: -2.5em;
}

/**
 * Tab
 *
 * 1. Required by some elements such as <button>
 * 2. Fixed height needed to ensure alignment with absolutely-positioned
 *    active tab.
 */
.tabs__tab {
  position: relative;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;  /* 1 */
  margin: -1px 0 0;
  padding: 9px 2em 7px 1em; /* LTR */
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #0074bd;
  border: 1px solid #bfbfbf;
  background-color: rgba(242, 242, 240, 0.7);
}
[dir="rtl"] .tabs__tab {
  padding-right: 1em;
  padding-left: 2em;
}
.tabs__tab:hover,
.tabs__tab:focus {
  color: #008ee6;
  background-color: #fafaf7;
}
li.tabs__tab {
  display: block;
  padding: 0;
}
/* This is required to win over specificity of [dir="rtl"] .tabs__tab */
[dir="rtl"] li.tabs__tab {
  padding-right: 0;
  padding-left: 0;
}
li.tabs__tab a {
  padding: 9px 2em 7px 1em; /* LTR */
}
[dir="rtl"] li.tabs__tab a {
  padding-right: 1em;
  padding-left: 2em;
}
.tabs a:hover,
.tabs a:focus {
  text-decoration: none;
}

/* Primary tabs */
.tabs.primary {
  clear: both;
  margin: 16px 0 0;
  margin: 1rem 0 0;
}
.tabs.primary .tabs__tab.is-active {
  z-index: 15;
  color: #004f80;
  border-color: #a6a6a6;
  border-radius: 4px 0 0 0; /* LTR */
  background-color: #fff;
}
[dir="rtl"] .tabs.primary .tabs__tab.is-active {
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
}
.tabs.primary a {
  background: none;
}
.tabs.primary a:focus {
  text-decoration: underline;
  color: #008ee6;
  background-color: #fafaf7;
}
.tabs.primary .is-active a:focus {
  text-decoration: underline;
  background: none;
}

/* Only add the arrow if there's space */
@media screen and (min-width: 18.75em) { /* 300px */
  .tabs.primary a {
    background: url(/buap-2022/web/core/themes/seven/css/components/../../../../misc/icons/0074bd/chevron-right.svg) 99% center no-repeat;
  }
  [dir="rtl"] .tabs.primary a {
    background: url(/buap-2022/web/core/themes/seven/css/components/../../../../misc/icons/0074bd/chevron-left.svg) 1% center no-repeat;
  }
  .tabs.primary .tabs__tab.is-active a {
    background-image: none;
  }
}
.tabs__trigger {
  display: none;
}

/* JS dependent styling */
.is-collapse-enabled .tabs__trigger {
  position: absolute;
  z-index: 10;
  top: 2px;
  right: 0; /* LTR */
  left: auto; /* LTR */
  display: block;
  box-sizing: content-box;
  width: 25%;
  padding-right: 4px;
  padding-left: 4px;
  text-align: center;
  letter-spacing: 0.1em;
  border-left: 0; /* LTR */
  border-radius: 0 4px 0 0; /* LTR */
  outline: 0;
  font-family: Arial, sans-serif;
  font-size: 1.25em;
}
[dir="rtl"] .is-collapse-enabled .tabs__trigger {
  right: auto;
  left: 0;
  border-right: 0;
  border-left: 1px solid #bfbfbf;
  border-radius: 4px 0 0 0;
}
.is-collapse-enabled .tabs {
  max-height: 0;
  padding-top: 38px;
}
.tabs.is-open {
  max-height: 999em;
  padding-bottom: 16px;
  padding-bottom: 1rem;
}
.is-collapse-enabled .tabs__tab.is-active {
  position: absolute;
  top: 2px;
  left: 0; /* LTR */
  width: 75%;
  border-bottom: 0;
}
[dir="rtl"] .is-collapse-enabled .tabs__tab.is-active {
  right: 0;
  left: auto;
}
.is-collapse-enabled .tabs.primary a.is-active:before {
  content: none;
}
.is-open .tabs__tab.is-active {
  color: #004f80;
  border-color: #a6a6a6;
  border-bottom: 1px solid #a6a6a6;
  background-color: #fff;
}

/* Styles for the horizontal state always take priority */
.is-horizontal .tabs {
  overflow: visible;
  max-height: none !important;
  padding-top: 0 !important;
}
.is-horizontal .tabs__tab {
  float: left; /* LTR */
  width: auto;
  height: auto;
  margin: 0 0 -1px;
  text-align: center;
  border-bottom-color: #a6a6a6;
}
[dir="rtl"] .is-horizontal .tabs__tab {
  float: right;
  /* This is required to win over specificity of [dir="rtl"] .tabs > li */
  margin-left: 0;
}
.is-horizontal .tabs__tab + .tabs__tab {
  margin-left: -1px; /* LTR */
}
[dir="rtl"] .is-horizontal .tabs__tab + .tabs__tab {
  margin-right: -1px;
  margin-left: 0;
}
.is-horizontal .tabs.primary .tabs__tab:first-child {
  border-radius: 4px 0 0 0; /* LTR */
}
[dir="rtl"] .is-horizontal .tabs.primary .tabs__tab:first-child {
  border-radius: 0 4px 0 0;
}
.is-horizontal .tabs.primary .tabs__tab:last-child {
  border-radius: 0 4px 0 0; /* LTR */
}
[dir="rtl"] .is-horizontal .tabs.primary .tabs__tab:last-child {
  border-radius: 4px 0 0 0;
}

/* Override the states above */
.is-horizontal .tabs__tab.is-active,
.is-horizontal .tabs.primary .tabs__tab.is-active,
[dir="rtl"] .is-horizontal .tabs.primary .tabs__tab.is-active {
  position: relative;
  top: 0;
  width: auto;
  margin: 0 -4px;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
}
.is-horizontal .tabs.primary a {
  padding: 7px 2em 7px 2em;
  background-image: none;
}
.is-horizontal .tabs__trigger {
  display: none;
}

/* Secondary tabs */
.tabs.secondary {
  display: block;
  margin-top: 16px;
  margin-top: 1rem;
}
.tabs.secondary .tabs__tab {
  display: block;
  margin-left: -1px; /* LTR */
  padding: 5px 15px 5px 16px; /* LTR */
  -webkit-transition: border-color 0.2s, background-color 0.2s;
  transition: border-color 0.2s, background-color 0.2s;
  color: #0074bd;
}
[dir="rtl"] .tabs.secondary .tabs__tab {
  margin-right: -1px;
  margin-left: 0;
  padding-right: 16px;
  padding-left: 15px;
}
/* This is required to win over specificity of [dir="rtl"] .tabs.secondary .tabs__tab */
[dir="rtl"] .views-displays .tabs.secondary li,
[dir="rtl"] .views-displays .tabs.secondary li.is-active {
  padding-right: 0;
  padding-left: 0;
}
.tabs.secondary .tabs__tab + .tabs__tab {
  border-top: 1px solid #d9d8d4;
}
.tabs.secondary .tabs__tab.is-active {
  padding-left: 15px; /* LTR */
  color: #004f80;
  border-left: 2px solid #004f80; /* LTR */
}
[dir="rtl"] .tabs.secondary .tabs__tab.is-active {
  padding-right: 15px;
  border-right: 2px solid #004f80;
  border-left: 1px solid #bfbfbf;
}
/* This is required to win over specificity of [dir="rtl"] .tabs.secondary .tabs__tab.is-active */
[dir="rtl"] .views-displays .tabs.secondary li.is-active {
  padding-right: 0;
  border: 0 none;
}
.tabs.secondary .tabs__tab:hover,
.tabs.secondary .tabs__tab:focus {
  padding-left: 15px; /* LTR */
  color: #008ee6;
  border-left: 2px solid #008ee6; /* LTR */
}
[dir="rtl"] .tabs.secondary .tabs__tab:hover,
[dir="rtl"] .tabs.secondary .tabs__tab:focus {
  padding-right: 15px;
  border-right: 2px solid #008ee6;
  border-left: 1px solid #bfbfbf;
}
/* This is required to win over specificity of [dir="rtl"] .tabs.secondary .tabs__tab:hover */
[dir="rtl"] .views-displays .tabs li.tabs__tab:hover {
  padding-right: 0;
  border: 0 none;
}
.tabs.secondary a {
  padding: 7px 13px 5px;
  text-decoration: none;
  background-color: transparent;
}
/* This is required to win over specificity of [dir="rtl"] li.tabs__tab a */
[dir="rtl"] .tabs.secondary a {
  padding-right: 13px;
  padding-left: 13px;
}
/* This is required to win over specificity of [dir="rtl"] .tabs.secondary a */
[dir="rtl"] .views-displays .tabs.secondary a {
  padding-right: 7px;
  padding-left: 7px;
}
.tabs.secondary .is-active a {
  color: #004f80;
}
.tabs.secondary a:focus {
  text-decoration: underline;
}

/* Styles for the horizontal state */
.is-horizontal .tabs.secondary .tabs__tab {
  position: relative;
  z-index: 15;
  top: 0;
  float: left; /* LTR */
  margin-right: 1em;
  margin-left: 1em;
  padding: 0;
  border-top: 0;
  border-right-color: transparent; /* LTR */
  border-bottom: 2px solid transparent;
  border-left: 1px solid transparent; /* LTR */
  background: none;
}
/**
 * 1. This is required to win over specificity of
 *      [dir="rtl"] .tabs.secondary .tabs__tab:hover,
 *      [dir="rtl"] .tabs.secondary .tabs__tab:focus
 */
[dir="rtl"] .is-horizontal .tabs.secondary .tabs__tab {
  float: right;
  padding-right: 0; /* 1 */
  border-right: 1px solid transparent;
  border-left-color: transparent;
}
.is-horizontal .tabs.secondary .tabs__tab.is-active {
  border-bottom-color: #004f80;
}
.is-horizontal .tabs.secondary .tabs__tab:hover,
.is-horizontal .tabs.secondary .tabs__tab:focus {
  border-bottom-color: #008ee6;
}
