#admin-toolbar-mobile-search-tab + #admin-toolbar-search-tab {
  display: none;
}

#admin-toolbar-mobile-search-tab + #admin-toolbar-search-tab.visible {
  display: block;
  width: 100%;
}

#admin-toolbar-mobile-search-tab + #admin-toolbar-search-tab .js-form-item.form-item {
  margin: 0.75rem 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

#admin-toolbar-mobile-search-tab .toolbar-item::before {
  background-image: url('/buap-2022/web/modules/contrib/admin_toolbar/admin_toolbar_search/css/../../misc/icons/bebebe/loupe.svg');
}

#admin-toolbar-mobile-search-tab + #admin-toolbar-search-tab #admin-toolbar-search-input {
  width: 100%;
}

@media only screen and (min-width: 769px) {
  #admin-toolbar-mobile-search-tab {
    display: none;
  }

  #admin-toolbar-mobile-search-tab + #admin-toolbar-search-tab {
    display: block;
  }

  #admin-toolbar-mobile-search-tab + #admin-toolbar-search-tab.visible {
    width: auto;
  }

  #admin-toolbar-mobile-search-tab + #admin-toolbar-search-tab .js-form-item.form-item {
    margin-top: 0.3rem;
    margin-bottom: 0;
  }
}

#admin-toolbar-search-input {
  min-height: 30px;
  height: 100%;
  padding: 0 0.4rem;
  line-height: 1.75rem;
  margin: 0;
  color: #3b3b3b;
  background: #fcfcfa;
  border: 1px solid #ccc;
  border-radius: unset;
  font-size: 1em;
}

.ui-autocomplete .ui-menu-item span.admin-toolbar-search-url {
  display: none;
}

.admin-toolbar-search-autocomplete-list {
  max-height: 300px;
  overflow-y: scroll;
}

.admin-toolbar-search-autocomplete-list .ui-menu-item .ui-state-active {
  margin: 0;
}

#toolbar-item-administration-search-tray label {
  display: inline-block;
  color: #000000;
  margin-right: .5em;
  font-weight: bold;
}

#toolbar-item-administration-search-tray div.form-item {
  margin: 0.75em 0;
}

#toolbar-item-administration-search-tray input {
  display: inline-block;
  padding: 0.3em 0.4em 0.3em 0.5em;
  font-size: 1em;
}

#admin-toolbar-search-tab .toolbar-item:before {
  background-image: url('/buap-2022/web/modules/contrib/admin_toolbar/admin_toolbar_search/css/../../misc/icons/bebebe/loupe.svg');
}

#admin-toolbar-search-tab .toolbar-item:active:before,
#admin-toolbar-search-tab .toolbar-item.is-active:before {
  background-image: url('/buap-2022/web/modules/contrib/admin_toolbar/admin_toolbar_search/css/../../misc/icons/ffffff/loupe.svg');
}
#toolbar-item-administration-search-tray div.form-item.js-form-type-textfield {
  margin: 0.75em 0;
}
