/**
 * @file
 * Table sort indicator.
 *
 * @see tablesort-indicator.html.twig
 */

.tablesort {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 100%;
}
.tablesort--asc {
  background-image: url(/buap-2022/web/core/modules/system/css/components/../../../../misc/icons/787878/twistie-down.svg);
}
.tablesort--desc {
  background-image: url(/buap-2022/web/core/modules/system/css/components/../../../../misc/icons/787878/twistie-up.svg);
}
