
/**
 * @file
 * Admin styling for the Filter module.
 */

/**
 * Filter information under field.
 */
.text-format-wrapper > .form-item {
  margin-bottom: 0;
}

.filter-wrapper {
  overflow: hidden;
  margin: 0;
  padding: 0.5em 0.666em;
  border: 1px solid #ccc;
  border-top: 0;
}
.filter-wrapper .form-item {
  margin: 0;
}
.filter-wrapper .form-item label {
  display: inline;
}

.filter-help {
  float: right; /* LTR */
}
[dir="rtl"] .filter-help {
  float: left;
}
.filter-guidelines .filter-guidelines-item {
  margin-top: 1em;
}
.filter-help p {
  margin: 0;
}
.filter-help a {
  position: relative;
  margin: 0 20px 0 0; /* LTR */
}
[dir="rtl"] .filter-help a {
  margin: 0 0 0 20px;
}
.filter-help a:after {
  position: absolute;
  top: 0;
  right: -20px; /* LTR */
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  background: transparent url(/buap-2022/web/core/themes/seven/css/theme/../../../../misc/help.png);
}
[dir="rtl"] .filter-help a:after {
  right: auto;
  left: -20px;
}

.text-format-wrapper .description {
  margin-top: 0.5em;
}
.tips {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.9em;
}

/**
 * Improve filter tips position.
 */
.tips {
  padding-left: 0; /* LTR */
}
[dir="rtl"] .tips {
  padding-right: 0;
}
