/**
 * @file
 * Seven styles for the System Status Report.
 */

.system-status-report__requirements-group {
  padding-top: 20px;
}
.system-status-report__entry {
  overflow: auto;
  width: 100%;
  margin: 0;
  border: 0;
  border-top: 1px solid #ccc;
  border-radius: 0;
  background-color: transparent;
}
.system-status-report__entry:last-of-type {
  border-bottom: 1px solid #bebfb9;
}
.system-status-report__entry--error {
  background-color: transparent;
}
.system-status-report__entry--warning {
  background-color: transparent;
}
/* Account for native and poly-filled details element */
.system-status-report__status-title {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 1em 1em 1em 3em; /* LTR */
  font-weight: bold;
}
.system-status-report__status-title .details-title {
  text-transform: none;
  color: inherit;
}
.system-status-report__status-title .details-title {
  padding-left: 3em; /* LTR */
}
[dir="rtl"] .system-status-report__status-title .details-title {
  padding-right: 3em;
  padding-left: 0;
}
[dir="rtl"].details .system-status-report__status-title {
  padding: 1em 3em 1em 1em;
}
.collapse-processed > .system-status-report__status-title:before {
  float: right; /* LTR */
}
.system-status-report__status-title::-webkit-details-marker {
  float: right; /* LTR */
}
[dir="rtl"] .collapse-processed > .system-status-report__status-title:before {
  float: left;
}
[dir="rtl"] .system-status-report__status-title::-webkit-details-marker {
  float: left;
}

/* Make poly-filled details and summary elements behave correctly. */
.system-status-report summary:first-child ~ * {
  display: none;
}
.system-status-report details[open] > *,
.system-status-report details > summary:first-child {
  display: block;
  color: inherit;
}

.system-status-report__status-title .details-title:before,
.details .system-status-report__status-icon:before {
  position: absolute;
  top: 1em;
  left: 10px; /* LTR */
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px; /* LTR */
  content: "";
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
[dir="rtl"] .system-status-report__status-title .details-title:before,
[dir="rtl"].details .system-status-report__status-title:before {
  right: 10px;
  left: auto;
  margin-right: 0;
}
.system-status-report__status-icon--error .details-title:before,
.details .system-status-report__status-icon--error:before {
  background-image: url(/buap-2022/web/core/themes/seven/css/components/../../../../misc/icons/e32700/error.svg);
}
.system-status-report__status-icon--warning .details-title:before,
.details .system-status-report__status-icon--warning:before {
  background-image: url(/buap-2022/web/core/themes/seven/css/components/../../../../misc/icons/e29700/warning.svg);
}

.system-status-report__entry__value {
  box-sizing: border-box;
  padding: 0 1em 1em 3em; /* LTR */
}
[dir="rtl"] .system-status-report__entry__value {
  padding-right: 3em;
  padding-left: 1em;
}

@media screen and (max-width: 48em) {
  .system-status-report {
    word-wrap: break-word;
  }
}

@media screen and (min-width: 48em) {
  .system-status-report__entry::after {
    display: table;
    clear: both;
    content: "";
  }
  .system-status-report__status-title {
    float: left; /* LTR */
    width: 18rem;
    cursor: default;
  }
  .system-status-report__status-title:hover,
  .system-status-report__status-title:focus {
    text-decoration: none;
  }
  [dir="rtl"] .system-status-report__status-title {
    float: right;
  }
  html.js .system-status-report__status-title::-webkit-details-marker {
    display: none;
  }
  .collapse-processed > .system-status-report__status-title:before {
    position: relative;
    top: 3px;
  }
  .system-status-report__entry__value {
    display: block;
    float: right;
    width: calc(100% - 23em);
    padding-top: 1em;
    padding-left: 0; /* LTR */
  }
  [dir="rtl"] .system-status-report__entry__value {
    padding-right: 3em;
    padding-left: 0;
  }
}
