/**
 * @file
 * Visual styles for a nested tree child.
 */

div.tree-child {
  background: url(/buap-2022/web/core/modules/system/css/components/../../../../misc/tree.png) no-repeat 11px center; /* LTR */
}
div.tree-child-last {
  background: url(/buap-2022/web/core/modules/system/css/components/../../../../misc/tree-bottom.png) no-repeat 11px center; /* LTR */
}
[dir="rtl"] div.tree-child,
[dir="rtl"] div.tree-child-last {
  background-position: -65px center;
}
div.tree-child-horizontal {
  background: url(/buap-2022/web/core/modules/system/css/components/../../../../misc/tree.png) no-repeat -11px center;
}
