.quickedit-field.quickedit-highlighted.ck5-ie11,
.quickedit-form.quickedit-highlighted.ck5-ie11,
.quickedit-field .quickedit-highlighted.ck5-ie11 {
  cursor: default;
  box-shadow: 0 0 0 1px #f00, 0 0 0 2px #f00;
}

.quickedit .icon.ck5-ie11 {
  margin-left: 0.5em;
  padding-left: 1.5em;
}

.quickedit .icon.ck5-ie11:before {
  background-image: url(/buap-2022/web/core/modules/ckeditor5/css/../../../misc/icons/e32700/error.svg);
  background-position: left center;
  background-size: 1.3em;
}
